:root {
  --bg-dark: #151719;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --font1: 80px;
  --font2: 32px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.section {
  padding-top: 75px;
  padding-bottom: 75px;
}

.dark-section {
  background-color: var(--bg-dark);
}

.video-section {
  padding-top: 90px;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding-right: 240px;
  padding-left: 240px;
}

.page-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 22px;
  /* line-height: 50px; */
  letter-spacing: 2px;
  color: #ffffff;
}

.navigation {
  display: grid;
  grid-template-columns: 195px 720px;
  column-gap: 525px;
  padding-top: 74px;
  padding-bottom: 76px;

  height: 50px;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation-link {
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-decoration: none;
}